/* basic website styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overscroll-behavior: none;
}
body{
    font-family: sans-serif;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.container{
    width: 60%;
    max-width: 800px;
}
img{
    width: 100%;
}
h1{
    font-size: clamp(40px,4vw,60px);
}
p{
    font-size: clamp(15px,1vw,25px);
}

/* minimap styling */
.minimap_container{
    position: fixed;
    top: 10px;
    left: 10px;
    min-width: 20px;
    z-index: 100;
}
.minimap_size{
    position: relative;
    z-index: 5;
    border: 2px solid white;
}
.minimap_view{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    z-index: 100;
    border: 1px solid #0000009a;
}
.minimap_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: 0 0;
    border: 1px solid white;
}